<a href="https://colab.research.google.com/github/hyojk2001/Python-Based-Data-Analysis/blob/main/finedust_analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

url = 'http://openapi.seoul.go.kr:8088/4f6a6547456b6368333355736a714f/json/RealtimeCityAir/1/25'
dfs = pd.read_json(url)
dfs

                                                    RealtimeCityAir
RESULT                {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'}
list_total_count                                                 25
row               [{'MSRDT': '202106232300', 'MSRRGN_NM': '도심권',...

In [3]:
new = dfs.loc['row','RealtimeCityAir']
new1 = pd.DataFrame.from_dict(new)
new1.head()

          MSRDT MSRRGN_NM MSRSTE_NM  PM10  ...    SO2  IDEX_NM  IDEX_MVL  ARPLT_MAIN
0  202106232300       도심권        중구  21.0  ...  0.003       보통      65.0         NO2
1  202106232300       도심권       종로구  19.0  ...  0.003       보통      51.0        PM25
2  202106232300       도심권       용산구  22.0  ...  0.002       좋음      43.0        PM25
3  202106232300       서북권       은평구  16.0  ...  0.003       보통      51.0          O3
4  202106232300       서북권      서대문구  14.0  ...  0.003       보통      51.0          O3

[5 rows x 12 columns]

In [4]:
new2 = new1[['MSRDT','MSRSTE_NM', 'PM10', 'PM25']]
new2.head()

          MSRDT MSRSTE_NM  PM10  PM25
0  202106232300        중구  21.0  12.0
1  202106232300       종로구  19.0  13.0
2  202106232300       용산구  22.0  12.0
3  202106232300       은평구  16.0  11.0
4  202106232300      서대문구  14.0  12.0

In [6]:
new3 = new1[['MSRDT','MSRSTE_NM', 'PM10', 'PM25', 'IDEX_NM']].rename(
    columns = {'MSRDT': '연월일', 'MSRSTE_NM': '지역구', 'PM10':'미세먼지(PM10)', 'PM25':'초미세먼지(PM25)', 'INDEX_NM':'상태'}, 
    inplace = False)
new3.head()

            연월일   지역구  미세먼지(PM10)  초미세먼지(PM25) IDEX_NM
0  202106232300    중구        21.0         12.0      보통
1  202106232300   종로구        19.0         13.0      보통
2  202106232300   용산구        22.0         12.0      좋음
3  202106232300   은평구        16.0         11.0      보통
4  202106232300  서대문구        14.0         12.0      보통